body {
    background-color: #242223;
}
/*navbar styling*/
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-list{
    display: inline;
    float: left;
    padding-left: 50px;
}
.nav-a{
    display: block;
    padding: 2px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
.nav-a:hover{
    color: #7b7c64;
}
.active {
    background-color: #04AA6D;
  }
  /*header*/
.flex-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: -50px;
  }
  .web-title{
    color: #a48575;
    font-size: 4.5em;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
  }
  .name1 {
      color: #a48575;
      font-size: 4em;
      font-family: 'Cinzel Decorative', cursive;
      font-weight: 400;
      margin-bottom: -18px;
    }
  .name2 {
      text-align: right;
      color: #a48575;
      font-size: 4em;
      font-family: 'Cinzel Decorative', cursive;
      font-weight: 700;
      margin-top: -15px;
      margin-right: 180px;
  }
  .profile {
      float: left;
  }