body {
    background-color: #242223;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #ffffff;
}
h2{
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
  color: #7b7c64;
  padding-bottom: 10px;
  text-decoration: overline 1px;
}
h4{
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  color: #a48575;
  padding: 2px;
  margin-bottom: -5px;
}
 
/*navbar styling*/
.navbar{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.navbar a{
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  text-decoration: none;
  transition: all .5s;
  margin-top: 20px;
}
.navbar a:hover{
    color: #7b7c64;
}

  /*header*/
.flex-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: -65px;
  }
  
  .web-title{
    color: #e9d8cf;
    font-size: 3.5em;
    font-family: 'Barlow', sans-serif;
    text-align: justify;
    justify-self: center;
    align-self: center; 
    position: relative;
    margin-top: -50px;
    margin-left: 90px;
    padding: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .name1 {
    
      color: #a48575;
      font-size: 3em;
      font-family: 'Cinzel Decorative', cursive;
      font-weight: 400;
      margin-right: -80px;
      margin-bottom: 80px;
      position: relative;
      background: linear-gradient(90deg, #242223, #a48575, #7b7c64);
      background-repeat: no-repeat;
      background-size: 80%;
      animation: animate 5s linear infinite;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  .name2 {
      text-align: right;
      color: #a48575;
      font-size: 2.5em;
      font-family: 'Cinzel Decorative', cursive;
      font-weight: 700;
      padding: 10px;
      position: relative;
      background: linear-gradient(90deg, #242223, #a48575, #7b7c64);
      background-repeat: no-repeat;
      background-size: 80%;
      animation: animate 6s linear infinite;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  .profile-image {
      box-shadow: 3px 3px 15px 8px  #000;
      margin-top: 90px;
      margin-right: 35px;
      border: 1px solid #7b7c64;
      padding: 15px;
  }

  /*projects section*/

.projects-container{
  padding: 50px;
}

.project-section-one{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}
.project-section-two{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}
.project-section-three{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: -20px;
}
.projects-paragraph{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}
.para-project-one{
  margin-left: 60px;
  padding-left: 60px;
}

/*About me section*/
.about-content{
  display: flex;
  flex-direction: column;
  padding:100px;
  padding-top:1px;
  padding-bottom:10px;
  text-align: justify;
}
.icons-parent{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom:20px;
}
.about-icon{
  width: 90px;
  height: 90px;
  background-color: #a48575;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 9%;
  margin: 10px;
}
.icons-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-left:170px;
  padding-right:170px;
  position: relative;
}

/*contacts section */
.foot{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}
.card-img-top{
  width: 220px;
  height: 240px;
  border: 1px solid #7b7c64;
  align-self: center;
}
.card-body{
  width: 220px;
  height: 200px;
  border: 1px solid #7b7c64;
  text-align: center;
  align-self: center;
}
.card-title{
  margin-bottom: 1px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.card-text{
  margin-bottom: 20px;
  color: #ffffff;
}
.credit{
  font-size: 6px;
  color: #a48575;
}

.fa{
  padding: 10px;
  margin: 8px 2px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #a48575;
  color: #242223;
  transition: all 0.3s;
}
.fa:hover{
  background-color: #7b7c64;
  border: 1px solid #e9d8cf;
}